<div
  class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm static-top"
>
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <a class="p-2 text-dark" routerLink="/"> Herder </a>
  </h5>

  <nav class="my-2 my-md-0 mr-md-3">
    <a
    *ngIf="currentUser"
    class="p-2 text-dark"
    routerLinkActive="active"
    routerLink="/users"
    >Users</a
  >
    <a
      *ngIf="currentUser"
      class="p-2 text-dark"
      routerLinkActive="active"
      routerLink="/scoreboard"
      >Scoreboard</a
    >

    <a
      *ngIf="!currentUser"
      class="p-2 text-dark"
      routerLinkActive="active"
      routerLink="/login"
      >Log in</a
    >
  </nav>

  <a
    *ngIf="!currentUser"
    class="btn btn-outline-primary"
    routerLinkActive="active"
    routerLinkActive="active"
    routerLink="/register"
    >Register</a
  >
  <button
    (click)="logout()"
    *ngIf="currentUser"
    type="button"
    class="btn btn-danger"
  >
    Logout
  </button>
</div>
<div class="container">
  <app-alert></app-alert>
  <p *ngIf="impersonatingUser">Impersonating {{currentUser.displayName}}
    <button type="button" (click)="clearImpersonation()">Stop impersonating</button>
</p>
  <router-outlet></router-outlet>
</div>
