os: linux
dist: xenial
language: java
jdk: openjdk11
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
jobs:
  include:
    - stage: test
      name: Backend code style check
      before_install:
        - cd server
      script:
        - ./gradlew spotlessCheck
    - stage: test
      name: Backend unit tests and coverage
      before_install:
        - cd server
      script:
        - ./gradlew test jacocoTestReport sonarqube --info
        
    - stage: test
      name: Backend integration tests
      services: mysql
      before_install:
        - cd server
        - wget https://repo.mysql.com//mysql-apt-config_0.8.10-1_all.deb
        - sudo dpkg -i mysql-apt-config_0.8.10-1_all.deb
        - sudo apt-get update -q
        - sudo apt-get install -q -y --allow-unauthenticated -o Dpkg::Options::=--force-confnew mysql-server
        - sudo systemctl restart mysql
        - sudo mysql_upgrade
        - mysql --version
        - mysql -e 'CREATE DATABASE IF NOT EXISTS core;'
      script:
        - ./gradlew integrationTest --info
    - stage: test
      name: Angular lint
      language: node_js
      before_install:
        - cd client
        - nvm install 12
      install:
        - npm install
        - npm install -g @angular/cli
      script:
        - ng lint
    - stage: test
      language: node_js
      services: xvfb
      name: Angular unit tests
      before_install:
        - cd client
        - nvm install 12
      install:
        - npm install
        - npm install -g @angular/cli
      script:
        - ng test
addons:
  sonarcloud:
    organization: etnoy
    
    token:
      secure: bt8lgRbINrjx+UsckDjpiy65yDImXdeL8UP3Jz7AQrBVr+xrdZwXeo0MxLJqkljj2OYlh9gF83n9g2zN83fqGsD8DUlh9T7c9hofD7owXGdm+Mrlke8uq/SQyg5npGHxnh/Oelz6M/ZF2saOgQITwIovtrVt7nOWiG/3pj9TeJleQgHTdp/RiGktg5YeWM64vDh1MxYs/jMLPbjGGsIvkR42ZaTD6zPVfTHubs5G9Oz5uI/WWsmp+FQ72Be9saDju22Sc2pfAWO8Gaaef4vgHTVpuiqqcZNvGxEwS6JCFkv9pXhGg4UBrCD8Tjg/V3ejJeQHsGcgMhuul+0BWZzqgX+JE9E2VJQe+1OD34OCueR5JWASyNts9J7tk221oF6B5/rA/mEdIJzUFVpcedqqbh8tPgKuH3ySmDYbuUSKVcPRe+SZ/o5vd2KgGNZ8uog1LlKnRlPliySq1wvmw6mmHuPrw5uzRj3R3MXFbshk9dtUYhp47Yb3V26qmxAGOP5PisB1GHZa/smsfm+Yq4l/N+6MujNC+ZHio+gsDqOiJs/8dmcRMCjE++rBgrbj7fkRhjWH6Cd4i+jVqAi0Kij42hKklRwxjgMAUYfZQGFw78bWJV5NHDBwQTDmiqwhNCMeRRms+ySnRwDjWw3AMrwsUBDEiRHJrHnQV2OX1VSqwik=
