<div class="auth-wrapper">
  <div class="row">
    <div class="inner-main">
      <ul>
        <ng-container *ngFor="let score of scores">
          <li>
            <p>
              {{ score.rank }} :
              <a href="scoreboard/{{ score.principalType | lowercase }}/{{ score.principalId }}">
                {{ score.displayName }} has {{ score.score }} points
                <span *ngIf="score.goldMedals > 0">
                  <ng-container
                    *ngFor="let _ of [].constructor(score.goldMedals)"
                    >🥇</ng-container
                  >
                </span>
                <span *ngIf="score.silverMedals > 0">
                  <ng-container
                    *ngFor="let _ of [].constructor(score.silverMedals)"
                    >🥈</ng-container
                  ></span
                >
                <span *ngIf="score.bronzeMedals > 0"></span>
                <ng-container
                  *ngFor="let _ of [].constructor(score.bronzeMedals)"
                  >🥉</ng-container
                >
              </a>
            </p>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
