<div class="auth-wrapper">
  <div class="row">
    <div class="inner-main">
      <ul>
        <ng-container *ngFor="let submission of submissions">
          <li>
            <p>
              {{submission.time.toLocaleString() | amTimeAgo }}:<a href="/scoreboard/module/{{submission.moduleLocator}}">{{ submission.moduleName }}</a> <app-rank [rank]=submission.rank></app-rank>{{submission.score}} points.
            </p>
          </li>
        </ng-container>
      </ul>
      <p *ngIf="submissions.length === 0">No submissions for {{ userId }}</p>
    </div>
  </div>
</div>
